$font-size: 36px;
$line-height: 1.2 * $font-size; // 1.2em

body {
  background: radial-gradient(circle farthest-corner at center center,
                              #8b7765 0%, #1c1e20 100%)
                              repeat scroll 0 0 #2b2b2b
}

.image.left, .imageblock.left {
  left: -30px;
  float: left;
  padding-right: 5px;
}

.image.right, .imageblock.right {
  float: right;
  padding-left: 5px;
}

img.full {
    width: 100%;
}

div.quote {
    box-shadow: 0 0 6px black;
    text-align: left;
    padding: 10px;
    margin: 10px;

    div.paragraph p {
      padding: 0px;
    }
}

div.cc-license {
  padding-top: $line-height * 3;
  font-size: $line-height / 2;
  line-height: $line-height / 2;
}

p.note {
    box-shadow: 0 0 6px black;
    font-size: 100%;
    line-height: $line-height;
}

div.note {
    box-shadow: 0 0 6px black;
    font-size: 100%;
    line-height: $line-height;
    padding: 10px;

    p {
        text-align: left;
    }
}

div.paragraph {
  margin-bottom: $line-height;
}

div.highlight {
  p {
    background-color: yellow;
    color: black;
  }
}

div.screwtape {
  p::before {
    content: url(../../images/uncle-screwtape1.jpg);
    float: left;
    width: 200px;
    height: 131px;
    margin-right: 25px;
  }
}

div.quoteblock {
  div.paragraph {
    margin-bottom: 0px;
  }
}

div.ulist {
  margin-bottom: $line-height;
}

p.strong {
    font-weight: bold;
    font-size: $line-height;
}

i.fa {
    font-family: "FontAwesome";
    font-style: normal;
}

span.small, p.small {
    font-size: 60%;
    line-height: 0.5em;
    // padding-bottom: 0.5em;
}

i.fa.fa-external-link {
    font-size: 60%;
}

.fa-warning {
  color: yellow;
}

p.attribution {
  margin: 0px;
  font-size: 10px;
}

/* Override RevealJS defaults */
.reveal {
  section {
    div img, p img {
      background: none;
      border: none;
      box-shadow: none;
      margin: 0px;
    }
  }

  blockquote {
    background-color: #333333;
  }

  .controls {
    div.enabled {
      opacity: 0.3;
    }

    div {
      transform: scale(0.6);
    }
  }

  h1, h2, h3, h4, h5, h6 {
    text-transform: none;
  }

  p {
    line-height: $line-height;
    margin-bottom: 0px;
    // margin-bottom: $line-height;
  }
}

.tip {
    color: blue;
}

/* warnings pop */
.fa-exclamation-triangle {
    color: red;
}

div.slides section {
    table {
        margin-left: auto;
        margin-right: auto;

        th, td {
            border-width: 1px;
            border-style: solid;
        }
        td {
            padding: 2px;
        }
        tr td:first-child{
            font-weight: bold;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

section.summary p {
    font-size: 200%;
    font-weight: bold;
}

// ********************
//
// Specific slides
//
// ********************

section#_the_categories ul {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
}

// To highlight a border:

// border: {
//     color: red;
//     style: solid;
//     width: 1px;
// }
